# 更新：xrdb .Xdefaults

XTerm*termName:            xterm-256color
XTerm*locale:              true
XTerm*selectToClipboard:   true
XTerm*saveLines:           2000

xterm*faceName:           Oxygen Mono
xterm*faceNameDoublesize: MigMix 2M

# Ubuntu 13.10からiBusの機能が削減されたため、以前と同じような使い勝手を望む場合は、Fcitxを使用するように設定を変更した方がいいかも

# xtermにはfcitxやibusではインライン入力ができません。
# そこでuim-ximを利用してインライン入力をできるように設定
xterm*ximFont:               MigMix 2M

UXTerm*VT100*font: 70x140
XTerm*VT100*font: 70x140

! Hybrid Terminal Colours. Uses the palette from Tomorrow-Night:
! https://github.com/chriskempson/tomorrow-theme/blob/master/vim/colors/Tomorrow-Night.vim
! vim: ft=xdefaults

*background: #1D1F21
*foreground: #C5C8C6
! black
*color0: #282A2E
*color8: #373B41
! red
*color1: #A54242
*color9: #CC6666
! green
*color2: #8C9440
*color10: #B5BD68
! yellow
*color3: #DE935F
*color11: #F0C674
! blue
*color4: #5F819D
*color12: #81A2BE
! magenta
*color5: #85678F
*color13: #B294BB
! cyan
*color6: #5E8D87
*color14: #8ABEB7
! white
*color7: #707880
*color15: #C5C8C6
